.approve-modal {
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 2s ease-in-out;
  .approve-model-inner {
    display: flex;
    flex-direction: column;
    .modal-title {
      flex: 1;
    }
    .modal-body {
      flex: 2;
      display: flex;
      flex-direction: column;
      margin-top: 0.5rem;
      .date-time {
        align-items: center;
      }
      .document-number {
        align-items: center;
        margin-top: 1rem;
        .document-input-box {
          width: 100%;
          margin-top: 0.7rem;
        }
      }
      .comment-box {
        align-items: center;
        margin-top: 1rem;
        .comment-box-text-area {
          width: 100%;
          margin-top: 0.7rem;
        }
      }
    }
  }
  .modal-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    .approve-button {
      margin-right: 10px;
    }
  }
}
