.ApproveModal {
  height: 30rem;
  width: 30rem;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard_modal {
  width: 100%;
}
.loading_process {
  font-size: 30px;
  height: 11rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.no_data {
  font-size: 30px;
  height: 11rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination {
  display: "flex";
  align-items: "center";
  justify-content: "center";
  margin-top: "20px" !important;
  margin-bottom: "20px";
}

.search-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 2rem;
  gap: 1rem;
  margin-bottom: 2rem;
}

.custom-data-grid {
  border: 1px solid #ddd; /* Add border */
}

.action-buttons button {
  margin-right: 10px; /* Add margin between buttons */
}

.data-grid-container {
  height: 400px; /* Set height */
  width: 100%; /* Set width */
}
